.topbarLists{
    width: 100%;
}
.subMenuLinks{
    opacity: 0;
    display: none;
}
.mainLinks:hover .subMenuLinks{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: auto;
    display: flex;
}
/* .topbarLists ul{
    position: relative;
    display: flex;
    width: 100%;
    z-index: 99;
    align-items: center;
} */

/* .topbarLists ul li{
    position: relative;
    list-style: none;
    float: left;
}
.topbarLists > ul > li a{
    text-decoration: none;
    word-wrap: normal;
    display: flex;
    justify-content: space-between;
    
}

.subMenuLink{
    padding: 0.5rem 0.8rem;
}
.topbarLists ul li a:hover{
    color: var(--primary1-color)
    
}
.topbarLists ul li ul{
    position: absolute;
    left: 0;
    display: none;
    flex-direction: column;
    width: 210px; 
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.topbarLists ul li:hover > ul {
    display: flex;
    flex-direction: column;
}
.topbarLists ul li ul li{
    position: relative;
    width: 100%;
}
.topbarLists ul li ul li ul{
    top:0;
    left: 170px;
} */